<% layout('layouts/boilerplate') %>

<h1>Admin Login</h1>

<form action="/admin/login" method="post">
    <input type="text" name="username" id="username">
    <input type="password" name="pwd" id="pwd">
    <button type="submit">Login Admin</button>
</form>