<% layout('layouts/boilerplate') %>

<h1 class="text-center">Thankyou for making your order!</h1>

<h2 class="text-center">Your Order Details</h2>

<div class="container-fluid d-flex flex-column">
    <span class="fw-bold">Order ID: </span><%= myOrder.orderId %> 
</div>